{% load static %}

{% comment %}

Yavaş Yavaş Ölürler

Yavaş yavaş ölürler
Seyahat etmeyenler.
Yavaş yavaş ölürler
Okumayanlar, müzik dinlemeyenler,
Vicdanlarında hoşgörüyü barındıramayanlar.
Yavaş yavaş ölürler
Alışkanlıklarına esir olanlar,
Her gün aynı yolları yürüyenler,
Ufuklarını genişletmeyen ve değiştirmeyenler,
Elbiselerinin rengini değiştirme riskine bile
girmeyenler,
Bir yabancı ile konuşmayanlar.
Yavaş yavaş ölürler
Heyecanlardan kaçınanlar,
Tamir edilen kırık kalplerin gözlerindeki pırılıtıyı
görmek istemekten kaçınanlar.
Yavaş yavaş ölürler
Aşkta veya işte bedbaht olup yön değiştirmeyenler,
Rüyalarını gerçekleştirmek için risk almayanlar,
Hayatlarında bir kez dahi mantıklı tavsiyelerin
dışına çıkmamış olanlar.

                                -- Pablo Neruda

{% endcomment %}

<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'pd_main/css/main.css' %}">

        <link rel="stylesheet" href="{% static 'pd_main/js/libs/codemirror-5.47.0/lib/codemirror.css' %}">
        <link rel="stylesheet" href="{% static 'pd_main/js/libs/codemirror-5.47.0/theme/monokai.css' %}">
        <script src="{% static 'pd_main/js/libs/codemirror-5.47.0/lib/codemirror.js' %}"></script>
        <script src="{% static 'pd_main/js/libs/codemirror-5.47.0/mode/python/python.js' %}"></script>
        <script src="{% static 'pd_main/js/libs/codemirror-5.47.0/mode/markdown/markdown.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'pd_main/js/libs/html2canvas.min.js' %}"></script>

        {% if title %}
            <title>Python Doctor :: {{ title }}</title>
        {% else %}
            <title>Python Doctor</title>
        {% endif %}
    </head>
    <body>

        <header>
            <div class="container rounded-bottom p-0 mb-4">
                <nav class="navbar navbar-expand-md navbar-dark custom-bg-color justify-content-center">
                    <a class="navbar-brand p-2 text-white" href="{% url 'pd-home' %}">Python Doctor</a>
                </nav>
            </div>
        </header>

        <main role="main" class="container">

            <div class="row">
                <div class="col-12">
                    <div class="form-row mt-5 mb-2">
                        <div class="form-group col-12">
                            <textarea class="form-control question-view-textarea" id="question-code-area"
                                rows="{{ question.code_line_count|add:'1' }}" readonly>{{ question.code }}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="form-group col-12">
                            <textarea class="form-control question-view-textarea" id="question-text-area"
                                rows="{{ question.question_line_count }}" readonly>{{ question.question_text }}
                            </textarea>
                        </div>
                    </div>

                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'pd_main/js/custom/question_view.js' %}"></script>
    </body>
</html>

