<h4 class="mt-5 font-weight-light">Links</h4>

<div class="list-group mb-4">
    <a href="https://www.python.org" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0">
        Python Official
    </a>
    <a href="https://docs.python-guide.org" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Hitchhiker’s Guide to Python
    </a>
    <a href="https://www.diveinto.org/python3/table-of-contents.html#your-first-python-program"
        target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Dive Into Python
    </a>
    <a href="https://www.djangoproject.com" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Django Project
    </a>
    <a href="https://realpython.com" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Real Python
    </a>
    <a href="http://automatetheboringstuff.com" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Automate Boring Stuff
    </a>
    <a href="https://www.reddit.com/r/Python/" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Python Subreddit
    </a>
    <a href="https://talkpython.fm/home" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Talk Python Podcast
    </a>
    <a href="https://github.com/vinta/awesome-python" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Awesome Python
    </a>
    <a href="https://pycoders.com" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        PyCoder's Weekly
    </a>
    <a href="https://twitter.com/gvanrossum" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Guido van Rossum
    </a>
    <a href="https://twitter.com/raymondh" target="_blank"
        class="list-group-item list-group-item-action text-muted border-bottom-0 border-top-0">
        Raymond Hettinger
    </a>
    <a href="https://twitter.com/dontusethiscode" target="_blank"
        class="list-group-item list-group-item-action text-muted border-top-0">
        James Powell
    </a>
</div>