body {
    background: #fafafa;
}

.custom-bg-color {
    background: rgb(116,0,43);
    background: linear-gradient(56deg, rgba(116,0,43,1) 21%,
                rgba(2,0,36,0.9556197478991597) 58%, rgba(116,0,43,1) 78%);
}

.navbar a.navbar-brand {
    font-size: 3rem;
}

.navbar-nav a.nav-item {
    font-size: 1.6rem;
}

.supportme-button {
    background-color: #e94702;
}

.custom-text {
    color: #333;
    font-size: 1.3rem;
}

.card-font-size {
    font-size: 1.2rem;
}

.horizontal-splitter {
    border: 1px solid #d2d2d2;
}

.ace_editor {
    font-size: 1.2rem !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ace_gutter {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.django-ace-toolbar {
    display: none !important;
}

.question-view-textarea,
.answer-view-textarea {
    outline: none;
    overflow: hidden;
}

.typed-string-area {
    height: 2.2rem;
}

/* CodeMirror style overrides */
.CodeMirror {
    font-size: 1.2rem !important;
    border-radius: 10px;
}

.CodeMirror-vscrollbar {
    overflow-y: hidden !important;
}

.CodeMirror-hscrollbar {
    overflow-x: hidden !important;
}

.CodeMirror-linenumber {
    color: #777 !important;
}
